#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS=-v
export DESTDIR=$(CURDIR)/debian

PREFIX = /usr

export PYBUILD_INSTALL_ARGS_python3=--install-lib=$(PREFIX)/share/solaar/lib

%:
	dh $@ --with=python3 --buildsystem=pybuild

override_dh_auto_build:
	./tools/po-compile.sh
	dh_auto_build

override_dh_auto_install:
	dh_auto_install --buildsystem=pybuild #--destdir=$(CURDIR)/debian/solaar/
	install -Dm644 $(CURDIR)/rules.d/42-logitech-unify-permissions.rules $(DESTDIR)/solaar/lib/udev/rules.d/60-solaar.rules

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog

override_dh_auto_clean:
	./tools/clean.sh
	debconf-updatepo
	dh_auto_clean

#override_dh_installudev:
#	ln -sf ../rules.d/42-logitech-unify-permissions.rules debian/solaar.udev
#	dh_installudev

override_dh_python3:
	dh_python3 $(PREFIX)/share/solaar/lib
